apiVersion: v1
kind: ConfigMap
metadata:
  name: configmapmovie
  namespace: {{ .Values.namespace }}
data:
  username: {{ .Values.movieDb.ruser | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: configmapcast
  namespace: {{ .Values.namespace }}
data:
  username: {{ .Values.castDb.user | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: {{ .Values.namespace }}
data:
  default.conf: |
    server {
      listen {{ .Values.nginx.port }};

      location /api/v1/movies {
        proxy_pass http://movie-service:8000/api/v1/movies;
      }

      location /api/v1/casts {
        proxy_pass http://cast-service:8000/api/v1/casts;
      }
    }