{{- range $db := list "movie" "cast" }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ $db }}-db-pvc
  namespace: {{ $.Values.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ $.Values.storage.size }}
---
{{- end }}